@page
@model SneakerOnlineShop.Pages.Account.ChangePasswordModel
@{
}

<div id="form">
    <h3 style="padding: 20px;">Change your account password</h3>
    <div style="padding: 0px 20px 10px;"><p>
            Has minimum 8 characters in length.</br>
            At least one uppercase English letter.</br>
            At least one lowercase English letter.</br>
            At least one digit.</br>
            At least one special character.</br>
        </p>
    </div>
    <div id="form-content" style="width:95%;">
        <form asp-page="./Account/ChangePassword" method="post">
            @if (ViewData.ContainsKey("PassOrEmailInvalid"))
            {
                <span id="msg-error-date2" style="color: red">@ViewData["PassOrEmailInvalid"]</span>
            }
            <label>Email<span style="color: red;">*</span></label><br />
            <input asp-for="Account.Email" required/>
            <label>Password<span style="color: red;">*</span></label><br />
            <input asp-for="Account.Password" type="password" required/>
            <label>Enter new password<span style="color: red;">*</span></label><br />
            <input name="password" type="password" required /><br />
            @if (ViewData.ContainsKey("invalid"))
            {
                <span id="msg-error-date2" style="color: red">@ViewData["invalid"]</span>
                <br />
            }
            <label>ReEnter new password<span style="color: red;">*</span></label><br />
            <input type="password" name="rePassword" required /><br />
            
            @if (ViewData.ContainsKey("notMatch"))
            {
                <span id="msg-error-date2" style="color: red">@ViewData["notMatch"]</span>
            }
            <input type="submit" value="CHANGE PASSWORD" style="margin-bottom: 30px;" /><br />
        </form>
    </div>
</div>