@page
@model SneakerOnlineShop.Pages.Account.SignUpModel
@{
}
<style>
    #form-content {
        width: 100%;
        margin: 0px auto;
    }

        #form-content input[type="submit"], input[type="button"] {
            width: 100%;
            background-color: #4CAF50;
            color: #fff;
            margin-bottom: 15px;
            line-height: 40px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }

    button {
        background-color: #4CAF50;
        width: 100%;
        color: orange;
        padding: 15px;
        margin: 10px 0px;
        border: none;
        cursor: pointer;
    }

    input[type=text], input[type=password] {
        width: 100%;
        margin: 8px 0;
        padding: 12px 20px;
        display: inline-block;
        border: 2px solid green;
        box-sizing: border-box;
    }

    form {
        border: 3px solid #f1f1f1;
        margin: 50px;
    }

    .container {
        padding: 25px;
        background-color: lightblue;
    }
</style>
<div id="form">
    <div id="form-title">
        <span><a href="~/account/signup" style="color: red;">SIGN UP</a></span>
        <span><a href="~/account/login">LOGIN</a></span>
    </div>
    <div id="form-content">
        <div class="msg-error" style="text-align:left">
            @ViewData["msg"]
        </div>
        <form action="" method="post">
            <input type="hidden" asp-for="Customer.CustomerId" value="1"/>
            <label>Company name<span style="color: red;">*</span></label><br />
            <input type="text" asp-for="Customer.CompanyName"/><br />
            <span class="msg-error" asp-validation-for="Customer.CompanyName"></span><br />
            <label>Contact name<span style="color: red;">*</span></label><br />
            <input asp-for="Customer.ContactName" /><br />
            <span class="msg-error" asp-validation-for="Customer.ContactName"></span><br />
            <label>Contact title<span style="color: red;">*</span></label><br />
            <input asp-for="Customer.ContactTitle" /><br />
            <span class="msg-error" asp-validation-for="Customer.ContactTitle"></span><br />
            <label>Address<span style="color: red;">*</span></label><br />
            <input asp-for="Customer.Address" /><br />
            <span class="msg-error" asp-validation-for="Customer.Address"></span><br />
            <label>Email<span style="color: red;">*</span></label><br />
            <input asp-for="Account.Email" /><br />
            <span class="msg-error" asp-validation-for="Account.Email"></span><br />
            <label>Password<span style="color: red;">*</span></label><br />
            <input asp-for="Account.Password" id="password" type="password"/><br />
            <span class="msg-error" asp-validation-for="Account.Password"></span><br />
            <label>Re-Password<span style="color: red;">*</span></label><br />
            <input type="password" id="re-password"/><br />
            @*<span class="msg-error">Re-Password is required</span><br />*@
            <div></div>
            <input type="submit" value="SIGN UP" style="margin-bottom: 30px;" />
        </form>
    </div>
</div>
